.container {
}


.row-top {

    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
}

.connect-img {
    display: block;
    height: 700px;
    width: auto;
    margin: auto;
}

.row-mid {
    margin: auto;
}

.col-8 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.col-4 {
    padding-top: 10px;
    padding-bottom: 40px;
    border-right: none;
}

.sidenav {
    background-color: #cc3300;
}

.login-main-text {
    height: 100%;
}

.login {

}