.container{
}

.row-top {
    height: 200px;
    width: 100%;
}

.row-mid {
    height: 100%;
    width: 100%;
}

.col-8{
    padding-top: 10px;
    padding-bottom: 40px;
    border: 3px solid;
}

.col-4 {
    padding-top: 10px;
    padding-bottom: 40px;
    border: 3px solid;
    border-right: none;
}

.sidenav {
    background-color: #cc3300;
}

.login-main-text{
    height: 100%;
}

.login{

}